@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<html>
<head>
    <title>WELLCOME 2: Sử dụng Input + Alert, viết JS dưới dạng Inline Javascript</title>
</head>
<body>
    <form name="Welcome">
        <input type="text" name="txtName" 
               @*value=" Welcome to Javascript"*@ 
               size="30" maxlength="30" />
        <input type="tel" name="txtTel"
               form="xxx-xxxxxxxxx"/>
        <input type="button" name=" btn_welcome" value="Welcome" 
               onclick="DisplayMsg(txtName.value);"/>
    </form>
    <script language="Javascript">
        function DisplayMsg(msg) {
            alert(msg);
        }
    </script>
</body>
</html>

