@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}



<html>

<head>
    <title>WELCOME PAGE</title>
</head>
<body>
    <script language="Javascript">
        var Name, Age; //khai bao biến Name, Age
        Name = prompt("Please enter your name: ", ""); //Hiển thị hộp thoại cho phép người dùng dùng nhập Tên
        Age = prompt("Please enter your age: ", ""); //Hiển thị hộp thoại cho phép người dùng dùng nhập Tuổi
        document.write("Chào bạn <b> " + Name + "</b>");
        document.write("</br>");
        document.write("Tuổi của bạn là <u>" + Age + "<u>");


    </script>
</body>

</html>

